<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd ">
	
	<bean id = "securConfig" class = "tel_ran.security.impl.SecurConfig">
	    <constructor-arg name = "mapSecurity">
	        <map>
	            <entry key="name1" value="000001"></entry>
	            <entry key="name2" value="000002"></entry>
	            <entry key="name3" value="000003"></entry>
	            <entry key="name4" value="000004"></entry>
	            <entry key="name5" value="000005"></entry>
	        </map>
	    </constructor-arg>
	</bean>

</beans>
